/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.success-snackbar .mdc-snackbar__surface {
  background-color: #4caf50 !important;
  color: #fff !important;
}

.error-snackbar .mdc-snackbar__surface {
  background-color: #f44336 !important;
  color: #fff !important;
}

